<%= form_for(@beverage) do |f| %>
  <% if @beverage.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@beverage.errors.count, "error") %> prohibited this beverage from being saved:</h2>

      <ul>
      <% @beverage.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :name %><br>
    <%= f.text_field :name %>
  </div>
  <div class="field">
    <%= f.label :upc %><br>
    <%= f.text_field :upc %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
