<%= form_for(@beverage) do |f| %>
  <%= render 'errors', model: @beverage %>
  <div class="field">
    <%= f.label :name %><br>
    <%= f.text_field :name %>
  </div>
  <div class="field">
    <%= f.label :upc %><br>
    <%= f.text_field :upc %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
