<%= form_for(@rating) do |f| %>
  <%= render 'errors', model: @rating %>
  <div class="field">
    <%= f.label :value %><br>
    <%= f.number_field :value %>
  </div>
  <div class="field">
    <%= f.label :user_id %><br>
    <%= f.collection_select :user_id, User.all, :id, :name, prompt: true %>
  </div>
  <div class="field">
    <%= f.label :beverage_id %><br>
    <%= f.collection_select :beverage_id, Beverage.all, :id, :name, prompt: true %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
