<p id="notice"><%= notice %></p>

<p>
  <strong>Value:</strong>
  <%= @rating.value %>
</p>

<p>
  <strong>User:</strong>
  <%= @rating.user_name %>
</p>

<p>
  <strong>Beverage:</strong>
  <%= @rating.beverage_name %>
</p>

<%= link_to 'Edit', edit_rating_path(@rating) %> |
<%= link_to 'Back', ratings_path %>
